<header class="header">
  <div class="header-container">
    <img src="../img/svg/logo.svg" alt="logo" class="header__logo">
    <div class="header__nav">
      <div class="header__nav-item submenu submenu-hover">
        <a href="#" class="submenu__link">
          Рестораны
        </a>
        <img class="submenu__icon" src="../img/svg/Vector.svg">
        <ul class="submenu__list">
          <li class="submenu__list-item">
            <a href="#">
              Barbaresko
            </a>
          </li>
          <li class="submenu__list-item">
            <a href="#">
              Sans
            </a>
          </li>
          <li class="submenu__list-item">
            <a href="#">
              Lorem
            </a>
          </li>
          <li class="submenu__list-item">
            <a href="#">
              United rest
            </a>
          </li>
        </ul>
      </div>
      <a href="#" class="header__nav-item">
        События
      </a>
      <a href="#" class="header__nav-item">
        Контакты
      </a>
      <a href="#" class="header__nav-item">
        Перезвоните мне
      </a>
    </div>
    <div class="header__svg">
      <a href="#" class="header__svg-item">
        <img src="../img/svg/Search.svg" alt="search">
      </a>
      <a href="#" class="header__svg-item header__svg-cart" data-counter="1">
        <img src="../img/svg/Cart.svg" alt="cart">
      </a>
      <a href="#" class="header__svg-item">
        <img src="../img/svg/Profile.svg" alt="profile">
      </a>
    </div>
  </div>
</header>
