<header class="header">
  <div class="container">
    <img src="../img/svg/logo.svg" alt="logo" class="header__logo">
    <div class="header__nav">
      <a href="#" class="header__nav-item">
        Рестораны
      </a>
      <a href="#" class="header__nav-item">
        События
      </a>
      <a href="#" class="header__nav-item">
        Контакты
      </a>
      <a href="#" class="header__nav-item">
        Перезвоните мне
      </a>
    </div>
    <div header__svg>
      <img src="../img/svg/Search.svg" alt="search" class="header__svg-item">
      <img src="../img/svg/Cart.svg" alt="cart" class="header__svg-item">
      <img src="../img/svg/Profile.svg" alt="profile" class="header__svg-item">
    </div>
  </div>
</header>
