<header class="header">
  <div class="header-container">
    <img src="../img/svg/logo.svg" alt="logo" class="header__logo">
    <div class="header__nav">
      <a href="#" class="header__nav-item">
        Рестораны
      </a>
      <a href="#" class="header__nav-item">
        События
      </a>
      <a href="#" class="header__nav-item">
        Контакты
      </a>
      <a href="#" class="header__nav-item">
        Перезвоните мне
      </a>
    </div>
    <div class="header__svg">
      <a href="#" class="header__svg-item">
        <img src="../img/svg/Search.svg" alt="search">
      </a>

      <a href="#" class="header__svg-item header__svg-cart">
        <img src="../img/svg/Cart.svg" alt="cart">
      </a>

      <a href="#" class="header__svg-item">
        <img src="../img/svg/Profile.svg" alt="profile">
      </a>

    </div>
  </div>
</header>
