:root {
  // base
  --font-family: "Manrope", sans-serif;
  --content-width: 1555px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --dark-color: #000;
  --accent-color: #b79163;
  --section-title-color: #a18460;
  --menu-icon-color: #3ba9a9;
  --text-color: #212424;
  --label-active-color: #979086;
  --bg-color: #e7e3da;
  --primary-dropdown-color: #e7e3da;
  --active-dropdown-color: #ccc3af;
}
